#contact iframe
{
    width: 100%;
}
.movies{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;

}
.book{
    margin-bottom: 20px;
}
.book img{
    width: 400px;
    height: 460px;
}
#contact iframe{
width: 100%;

}
.contact_1{
    width: 100%;
 background-color: antiquewhite;
 color: blueviolet;
 text-align: center;
}
